body {
    background-color: rgb(238, 241, 255);
}
hr {
    background-color: white;
    border-style: none;
    border-top-style: dotted;
    height: 2px;
    width: 10000px;
}
h3 {
    color: rgb(178, 80, 104);
}
h4 {
    color: rgb(178, 80, 104);
}
img {
    border-radius: 50%;
}
